.modal.alert-message {
  z-index: 2000 !important; /* สูงกว่า Bootstrap modal (z-index 1050) */
}
.modal-backdrop.alert-backdrop {
  z-index: 1990 !important;
}

.modal-content {
  border-radius: 30px;
}

.modal-content svg {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
}

.path.circle {
  animation: dash 0.9s ease-in-out;
}

.path.line {
  stroke-dashoffset: 1000;
  animation: dash 0.95s 0.35s ease-in-out forwards;
}

.path.check {
  stroke-dashoffset: -100;
  animation: dash-check 0.95s 0.35s ease-in-out forwards;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
